@import "./components/posts/add/add";
@import "./components/posts/edit/edit";
@import "./layout/layout";
@import "./home";
html {
  background-color: #f2f2f2;
}
#root {
  background-color: #f2f2f2;
}
.required {
  border: 1px solid red;
}
.required-label {
  color: red;
}
input:focus {
  outline: none;
}
input {
  border: transparent;
  padding: 1rem;
  text-indent: 2rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem !important;
}
.submit-btn {
  padding: 1rem 1rem;
  color: #fff;
  background-color: dodgerblue;
  text-transform: uppercase;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.fa-home {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 2rem;
  @media screen and(max-width: 992px) {
    text-align: center;
  }
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
}
table {
  td {
    max-width: 5rem;
    @media screen and (max-width: 600px) {
      min-width: unset;
    }
  }
  th {
    min-width: 5rem;
    @media screen and (max-width: 600px) {
      min-width: unset;
    }
  }
}
